ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
	color: #fff;
}

li a {
	cursor:pointer;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111111;
}

#nav_left
{
	width: 10%;
	float: left;
}

#nav_right
{
	width:90%;
	float: right;
}

#nav_right li
{
	float:right;
}

#intro img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 300px;
	
}
