<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Training Shop</title>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<nav id="nav_left">
			<ul>
				<li><a>HOME</a></li>
			</ul>
		</nav>
		<nav id="nav_right">
			<ul>
				<li><a>Register</a></li>
				<li><a>Login</a></li>
				<li><a>Account</a></li>
				<li><a>Contacts</a></li>
			</ul>
		</nav>
	</header>

	<div class="container">
		<div>
			<figure id=intro>
				<img th:src="@{/images/intro.png}" alt="intro image" />
			</figure>
		</div>
		<main>
				<div class="row">
					<th:block th:each="regime : ${regimes}">
						<div class="col-lg-4 col-xs-6">
							<div class="card" style="width: 22rem;">
								<img class="card-img-top" th:src="@{/images/intro.png}" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title" th:text="${regime.coachId}"></h5>
									<p class="card-text" th:text="${regime.regime}">Some quick example text to build on
										the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>
					</th:block>
				</div>

		</main>

	</div>
	<footer> </footer>
</body>
</html>